<section class="contact-me">
    <div class="contact-me-container">
        <h1>Contact me</h1>
        <h2>Let’s work together</h2>
        <h3>Got a problem to solve?</h3>
        <p>Encourage people to contact you and describe what role you are interested in.</p>
        <p>Need a Frontend developer? <a href="#">Let’s talk!</a></p>
    </div>
    <div class="contact-form">
        <form>
            <label for="name">What's your name?</label>
            <input type="text" id="name" placeholder="Your name goes here">

            <label for="email">What's your email?</label>
            <input type="email" id="email" placeholder="youremail@email.com">

            <label for="message">How can I help you?</label>
            <textarea id="message" placeholder="Hello Lukas, I am interested in..."></textarea>

            <div class="checkbox-container">
                <input type="checkbox" id="privacy">
                <label for="privacy">I've read the <a href="#">privacy policy</a> and agree.</label>
            </div>

            <button type="submit">Say Hello :)</button>
        </form>
    </div>
</section>
