section {
    background: #1C1C1C;
}

section.contact-me {
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
}

.contact-me-container {
    width: 50%;
}

.contact-form {
    width: 45%;
    padding: 20px;
}


h1 {
    font-weight: 500;
    font-size: 24px;
    color: #3DCFB6;
}

h2 {
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: 64px;
    color: #3DCFB6;
}

h3 {
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: 24px;
    color: #3DCFB6;
}

a {
    color: #3DCFB6;
    text-decoration: none;
    font-weight: bold;
}

label {
    display: block;
    font-weight: bold;
    margin: 10px 0 5px;
    font-size: 24px;
    font-weight: 500;
    color: #3DCFB6;
    border-width: 1px 0 0px 0; // obere und untere Ränder 1px, keine linken und rechten Ränder
    border-style: solid; // durchgezogene Linie
    border-color: #3DCFB6; // Aqua-grüne Farbe
}

input, textarea {
    font-size: 18px;
    font-family: 'Karla';
    width: 350px;
    padding: 10px 0px;
    margin-bottom: 10px;
    resize: none;
    border-style: none;
    background: none;
}

textarea {
    height: 100px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-width: 1px 0 0px 0; // obere und untere Ränder 1px, keine linken und rechten Ränder
    border-style: solid; // durchgezogene Linie
    border-color: #3DCFB6; // Aqua-grüne Farbe
}

button {
    background: #3DCFB6;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background: #32B89D;
}

.error-message {
    color: darkred;
    font-size: 14px;
    font-weight: bold;
    // margin-top: 5px;
}

.success-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #3DCFB6;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

