<section id="contact" class="contact-me">
  <div class="contact-me-container">
    <h2>{{ 'contact.title' | translate }}</h2>
    <h1>{{ 'contact.headline' | translate }}</h1>
    <h3>{{ 'contact.subheadline' | translate }}</h3>
    <p>
      {{ 'contact.introduction' | translate }}
    </p>
    <br />
    <p>{{ 'contact.call-to-action' | translate }} <a href="#">{{ 'contact.lets-talk-link' | translate }}</a></p>
  </div>
  <div class="contact-me-form-container">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
      <label for="name">{{ 'contact.name-label' | translate }}</label>
      <input
        [(ngModel)]="contactData.name"
        type="text"
        id="name"
        name="name"
        placeholder="{{ 'contact.name-placeholder' | translate }}"
        required
        #name="ngModel"
      />
      @if (!name.valid && name.touched){
      <div class="error-message">{{ 'contact.name-error' | translate }}</div>
      }
      <label for="email">{{ 'contact.email-label' | translate }}</label>
      <input
        [(ngModel)]="contactData.email"
        type="email"
        id="email"
        name="email"
        placeholder="{{ 'contact.email-placeholder' | translate }}"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        #email="ngModel"
      />
      @if (!email.valid && email.touched){
      <div class="error-message">{{ 'contact.email-error' | translate }}</div>
      }
      <label for="message">{{ 'contact.message-label' | translate }}</label>
      <textarea
        #message="ngModel"
        minlength="4"
        [(ngModel)]="contactData.message"
        id="message"
        name="message"
        placeholder="{{ 'contact.message-placeholder' | translate }}"
        required
      ></textarea>
      @if (!message.valid && message.touched){
      <div class="error-message">{{ 'contact.message-error' | translate }}</div>
      }
      <div class="checkbox-container">
        <label for="privacy">
          <input
            [(ngModel)]="contactData.privacyAccepted"
            name="privacyAccepted"
            type="checkbox"
            id="privacy"
            required
            #privacy="ngModel"
          />
          <span class="checkbox-button"></span>
        </label>
        <br />
        <p>
          {{ 'contact.privacy-text-part1' | translate }}
          <a [routerLink]="['privacy-policy']" routerLinkActive="active"
            >{{ 'contact.privacy-link' | translate }}</a
          >
          {{ 'contact.privacy-text-part2' | translate }}
        </p>
      </div>
      @if (!privacy.valid && privacy.touched){
      <div class="error-message">{{ 'contact.privacy-error' | translate }}</div>
      }
      <button type="submit" [disabled]="!contactForm.valid">
        {{ 'contact.submit-button' | translate }}
      </button>
    </form>
  </div>
</section>