header {
    height: 96px; // Beibehaltung der Größe
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

section {
    padding: 0px 100px; // Beibehaltung des Paddings für Laptop
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

a {
    font-family: 'Fira Code';
    font-size: 20px; // Beibehaltung der Größe
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;

    &:hover {
        cursor: pointer;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #3DCFB6;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    &:hover::after {
        opacity: 1;
    }
}

div {
    display: flex;
    gap: 24px; // Beibehaltung des Abstands
}

img {
    height: 48px;
    max-width: 100%;
}

