<header>
  <div class="header-content">
    <nav class="header-main">
      <div class="button">
        <button
          (click)="changeLanguage()"
          id="lang-btn"
          [class]="currentLanguage"
        >
          <span class="lang en" [class.active]="currentLanguage === 'en'"
            >EN</span
          >
          <span class="lang de" [class.active]="currentLanguage === 'de'"
            >DE</span
          >
        </button>
      </div>
      <a href="#aboutMe" class="nav-link">{{ 'header.about-me' | translate }}</a>
      <a href="#skills" class="nav-link">{{ 'header.skills' | translate }}</a>
      <a href="#projects" class="nav-link">{{ 'header.projects' | translate }}</a>
    </nav>
    <img src="./assets/img/logo/Logo_denis_welsch.PNG" alt="{{ 'header.logo-alt' | translate }}" />

    <div class="burger-menu" (click)="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="dialog" [class.show]="menuOpen">
    <div class="open-dialog">
      <a href="#aboutMe" class="nav-link">{{ 'header.about-me' | translate }}</a>
      <a href="#skills" class="nav-link">{{ 'header.skills' | translate }}</a>
      <a href="#projects" class="nav-link">{{ 'header.projects' | translate }}</a>
      <div class="button">
        <button
          (click)="changeLanguage()"
          id="lang-btn"
          [class]="currentLanguage"
        >
          <span class="lang en" [class.active]="currentLanguage === 'en'"
            >EN</span
          >
          <span class="lang de" [class.active]="currentLanguage === 'de'"
            >DE</span
          >
        </button>
      </div>
    </div>
  </div>
</header>