<header>
    <section>
        <nav class="header-main">
            <div class="translate">
                <button (click)="changeLanguage('de')" class="lang-btn" id="de-btn">De</button>
                <button (click)="changeLanguage('en')" class="lang-btn" id="en-btn">En</button>
            </div>
            <a href="#aboutMe" class="nav-link">About Me</a>
            <a href="#skills" class="nav-link">Skills</a>
            <a href="#projects" class="nav-link">Projects</a>
        </nav>
        <img src="./assets/img/logo/Logo_denis_welsch.png" alt="Logo">
        
        <!-- Burger Menu Button -->
        <div class="burger-menu" (click)="toggleMenu()">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section>

    <!-- Dropdown Menü für Mobile Ansicht -->
    <div class="dialog" [class.show]="menuOpen">
        <div class="open-dialog">
            <a href="#aboutMe" class="nav-link">About Me</a>
            <a href="#skills" class="nav-link">Skills</a>
            <a href="#projects" class="nav-link">Projects</a>
            <div class="translate">
                <button (click)="changeLanguage('de')" class="lang-btn" id="de-btn">De</button>
                <button (click)="changeLanguage('en')" class="lang-btn" id="en-btn">En</button>
            </div>
        </div>
    </div>
</header>
