section {
    padding: 0px 100px;
    height: calc(100dvh - 98px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(56deg, #1C1C1C 45%, #08463B 94%);
    position: relative;
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marquee {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    max-width: 100%;
    height: 62px;
    transform: rotate(-3deg);
    padding: 12px 32px;
    text-align: center;
    backdrop-filter: blur(5.3px);
    color: #3DCFB6;
    font-size: 32px;
    overflow: hidden; // Damit der Text nicht über den Container hinausgeht
    position: relative;

    .marquee-text {
        display: inline-block;
        white-space: nowrap;
        word-spacing: 12px;
        animation: marquee-animation 45s linear infinite;  // Langsame Animation
        will-change: transform; // Optimierung für die Animation
    }

    @keyframes marquee-animation {
        0% {
            transform: translateX(1%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
}

h1 {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 128px;
    text-align: center;
}

h2 {
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

div {
    display: flex;
    gap: 48px; // Gap zwischen den Buttons
}

.button {
    display: inline-block;
    padding: 10px 24px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid #3DCFB6;
        color: #3DCFB6;
    }
}

@media screen and (max-width: 1440px) {
    section {
        padding: 0px 50px;
    }
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 32px;
    }

    marquee {
        font-size: 28px;
        gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 0px 20px;
    }

    h1 {
        font-size: 72px;
    }

    h2 {
        font-size: 28px;
    }

    marquee {
        font-size: 24px;
        gap: 24px;
        max-width: 80%;
    }

    div {
        gap: 24px;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
    }

    marquee {
        font-size: 18px;
        height: 48px;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }

    marquee {
        font-size: 16px;
        height: 40px;
    }

    .button {
        font-size: 16px;
        padding: 8px 16px;
    }
}


// .email-section {
//     display: flex;
//     justify-content: flex-end;
//     transform: translateY(-50%);
//     text-align: center;
// }
// .email-section .email {
//     writing-mode: vertical-rl;
//     text-orientation: mixed;
//     margin-bottom: 10px;
// }
// .email-section .icons {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }
// .email-section .icons a {
//     color: #fff;
//     text-decoration: none;
//     margin: 5px 0;
// }
// .email-section .line {
//     width: 1px;
//     height: 186px;
//     background-color: #fff;
//     margin: 10px 0;
// }
