<section id="hero">
  <div class="hero-background">
    <div class="container hero-content">
      <h2>{{ 'hero.title' | translate }}</h2>
      <h1>Denis Welsch</h1>
      <div class="button-distance">
        <a class="button" href="#projects">
          <span class="button-text">{{ 'hero.check-work' | translate }}</span>
        </a>
        <a class="button" href="#contact">
          <span class="button-text">{{ 'hero.contact-me' | translate }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-text-track">
      <span>{{ 'hero.marquee.available-remote' | translate }} </span>
      <span>{{ 'hero.marquee.frontend-dev' | translate }} </span>
      <span>{{ 'hero.marquee.based-leverkusen' | translate }} </span>
      <span>{{ 'hero.marquee.open-work' | translate }} </span>
      <span>{{ 'hero.marquee.available-remote' | translate }} </span>
      <span>{{ 'hero.marquee.frontend-dev' | translate }} </span>
      <span>{{ 'hero.marquee.based-leverkusen' | translate }} </span>
      <span>{{ 'hero.marquee.open-work' | translate }} </span>
    </div>
  </div>
  <div class="line-wrapper">
    <div class="line-left-section">
      
      <div class="line-left"></div>
      <div class="arrow-container-svg"></div>
    </div>
    <div class="line-right-section">
      <div class="line"></div>
      <div class="icons">
        <a class="email">denis.welsch&#64;gmx.de</a>
        <a class="email-icon">
          <img src="./assets/img/pages/mail01.png" alt="{{ 'hero.email-icon-alt' | translate }}">
          <img src="./assets/img/pages/mail02.png" alt="{{ 'hero.email-icon-alt' | translate }}">
        </a>
        <a href="https://github.com/denis-welsch/" target="_blank">
          <img src="./assets/img/pages/Github01.png" alt="{{ 'hero.github-icon-alt' | translate }}">
          <img src="./assets/img/pages/Github02.png" alt="{{ 'hero.github-icon-alt' | translate }}">
        </a>
        <a href="https://www.linkedin.com/in/denis-welsch/" target="_blank">
          <img src="./assets/img/pages/Linkedin01.png" alt="{{ 'hero.linkedin-icon-alt' | translate }}">
          <img src="./assets/img/pages/Linkedin02.png" alt="{{ 'hero.linkedin-icon-alt' | translate }}">
        </a>
      </div>
    </div>
  </div>
</section>