<section>
    <marquee behavior="scroll" direction="left" scrollamount="2">
        Available for remote work • Frontend Developer • Based in Munich • Open to new projects
    </marquee>
    <h2>Frontend Developer</h2>
    <h1>Denis Welsch</h1>
    <div>
        <a class="button" href="#projects" >Check my work</a>
        <a class="button" href="#contact">Contact me</a>
    </div>
    <div class="email-section">
        <div class="email">denis.welsch(at)gmx.de</div>
        <div class="line"></div>
        <div class="icons">
            <a href="https://github.com/Denisator82/" target="_blank">
                <img src="./assets/icons/GitHub_Vector.png" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/denis-welsch/" target="_blank">
                <img src="./assets/icons/LinkedIn_Vector.png" alt="LinkedIn">
            </a>
        </div>
    </div>
</section>
