<section>
    <div class="main-section">
        <h2>Frontend Developer</h2>
        <h1>Denis Welsch</h1>
        <div class="button-distance">
            <a class="button" href="#projects">Check my work</a>
            <a class="button" href="#contact">Contact me</a>
        </div>
    </div>
    <div class="marquee">
        <div class="marquee-text-track">
            <span>Available for remote work </span>
            <span>Frontend Developer </span>
            <span>Based in Leverkusen </span>
            <span>Open to Work </span>
            <span>Available for remote work </span>
            <span>Frontend Developer </span>
            <span>Based in Leverkusen </span>
            <span>Open to Work </span>
            <span>Available for remote work </span>
            <span>Frontend Developer </span>
            <span>Based in Leverkusen </span>
            <span>Open to Work </span>
        </div>
        
    </div>
    <div class="line-wrapper">
        <div class="line-left-section">
            <div class="line-left"></div>
        </div>
        <div class="line-right-section">
            <div class="line"></div>
        
            <div class="icons">
                <a href="https://github.com/Denisator82/" target="_blank">
                    <img src="./assets/icons/GitHub_Vector.png" alt="GitHub">
                </a>
                <a href="https://www.linkedin.com/in/denis-welsch/" target="_blank">
                    <img src="./assets/icons/LinkedIn_Vector.png" alt="LinkedIn">
                </a>
            </div>
            <a href="#contact" class="email">denis.welsch&#64;gmx.de</a>
        </div>
    </div>
</section>
