section {
    padding: 0px 100px;
    width: 1440px;
    height: calc(100dvh - 98px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(55.22deg, #1C1C1C 36.26%, #08463B 93.28%);
    position: relative;
}

marquee {
    position: absolute;
    top: 840px;
    width: 1480px;
    height: 62px;
    left: 0px;
    transform: rotate(-3deg);
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    gap: 56px;
    text-align: center;
    backdrop-filter: blur(5.3px);
    color: #3DCFB6;
    font-size: 32px;
}

h1 {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 128px;
    background: none;
}

h2 {
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 40px;
    background: none;
}

div {
    display: flex;
    gap: 48px; // Gap zwischen den buttons
    background: none;
}

.button {
    display: inline-block;
    padding: 10px 24px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border: 2px solid #3DCFB6;
        color: #3DCFB6;
    }
}

.email-section {
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50%);
    text-align: center;
}
.email-section .email {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-bottom: 10px;
}
.email-section .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.email-section .icons a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}
.email-section .line {
    width: 1px;
    height: 186px;
    background-color: #fff;
    margin: 10px 0;
}
