*{
    background: #1C1C1C;
}

section {
    height: 800px;
    display: flex;
    align-items: center; // Zentriert die Elemente vertikal
    justify-content: center; // Zentriert die Elemente horizontal
    padding: 20px; // Optional, fügt etwas Abstand rund um die Sektion hinzu
    gap: 40px; // Abstand zwischen Bild und Text
}

.profil {
    height: 568px;
    width: 568px;
    object-fit: cover; // Stellt sicher, dass das Bild gut in den Bereich passt
    border-radius: 30px; // Rundes Bild
}

.about-me-text {
    width: 568px;
    height: 750px;
    border-radius: 30px;
    display: flex;
    flex-direction: column; // Vertikale Anordnung von Text und Überschrift
    align-items: flex-start; // Text linksbündig ausrichten
    color: white; // Textfarbe
    font-family: 'Fira Code', monospace; // Schriftart

    p {
        font-size: 18px; // Schriftgröße für den Text
        margin: 0 0 10px 0; // Abstand unter dem Text
    }

    h1 {
        font-size: 64px; // Schriftgröße für die Überschrift
        font-family: "Fira Code";
        margin: 0 0 20px 0; // Abstand unter der Überschrift
        color: #3DCFB6

    }

    h2 {
        font-weight: 500;
        font-size: 24px;
        color: #3DCFB6
    }

    .description {
        font-size: 18px;
        line-height: 1.5; // Zeilenhöhe für bessere Lesbarkeit
    }
}
