<section id="aboutMe">
    <img class="profil" src="./assets/img/aboutMe/profilbild.jpg" alt="About Me">
    <div class="about-me-box">
        <h2>Who I Am</h2><br>
        <div class="about-me-text">
            <h1>About me</h1>
            <p class="description">
                Hallo, ich bin Denis!<br> Seit meiner Weiterbildung zum Frontend-Entwickler habe ich eine große Leidenschaft für Web-Technologien und kreative Problemlösungen entwickelt. Besonders fasziniert mich die Verbindung von Design und Funktionalität – ein gut durchdachtes UI/UX ist für mich genauso wichtig wie sauberer Code.
            </p>
            <br>
            <div class="about-me-item">
                <img class="icon" src="./assets/img/aboutMe/Property 1=location_on.png" alt="Location">
                <span>Ich lebe in Deutschland und bin offen für Remote-Arbeit sowie spannende Projekte, die mich fachlich herausfordern und weiterbringen.</span>
            </div>

            <div class="about-me-item">
                <img class="icon" src="./assets/img/aboutMe/Property 1=cognition.png" alt="Cognition">
                <span>Ständiges Lernen ist für mich essenziell. Ich liebe es, neue Technologien zu entdecken und meine Fähigkeiten kontinuierlich zu verbessern – sei es durch eigene Projekte, Weiterbildung oder den Austausch mit der Entwickler-Community.</span>
            </div>

            <div class="about-me-item">
                <img class="icon" src="./assets/img/aboutMe/new_releases.png" alt="Problem Solving">
                <span>Mein Ansatz zur Problemlösung basiert auf analytischem Denken, Kreativität und Durchhaltevermögen. Ich suche stets nach effizienten und eleganten Lösungen und arbeite gerne im Team, um Herausforderungen gemeinsam zu meistern.</span>
            </div>
        </div>
    </div>
</section>
