<section id="aboutMe" class="content">
    <img class="profil" src="./assets/img/aboutMe/profilbild.jpg" alt="{{ 'about-me.alt' | translate }}">
    <div class="about-me-box">
        <h2>{{ 'about-me.who-i-am' | translate }}</h2><br>
        <div class="about-me-text">
            <h1>{{ 'about-me.about-me' | translate }}</h1>
            <p class="description">
                {{ 'about-me.introduction' | translate }}
            </p>
            <br>
            <div class="about-me-item">
                <img class="icon" src="./assets/img/aboutMe/Property 1=location_on.png" alt="{{ 'about-me.location-alt' | translate }}">
                <span>{{ 'about-me.location' | translate }}</span>
            </div>

            <div class="about-me-item">
                <img class="icon" src="./assets/img/aboutMe/Property 1=cognition.png" alt="{{ 'about-me.cognition-alt' | translate }}">
                <span>{{ 'about-me.cognition' | translate }}</span>
            </div>

            <div class="about-me-item">
                <img class="icon" src="./assets/img/aboutMe/new_releases.png" alt="{{ 'about-me.problem-solving-alt' | translate }}">
                <span>{{ 'about-me.problem-solving' | translate }}</span>
            </div>
        </div>
    </div>
</section>


