section {
    background: #1C1C1C;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.profil {
    height: 568px;
    width: 568px;
    object-fit: cover;
    border-radius: 30px;
}

.about-me-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 47%;
    margin-top: 50px;
}

h1 {
    font-size: 64px;
    color: #3DCFB6;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    color: #3DCFB6;
    align-self: flex-start;
}

.about-me-text {
    border-radius: 30px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(61, 207, 182, 0.1);
    border: 2px solid #3DCFB6;
    font-family: 'Fira Code', monospace;

    .description {
        line-height: 1.5;
    }

    .about-me-item {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 10px;

        .icon {
            width: 24px;
            height: auto;
            margin-left: -12px;
        }
    }

    p {
        font-family: var(--font-family-karla);
        font-size: 18px;
        color: var(--primary-text-color);

    }
    
    span {
        font-family: var(--font-family-karla);
        font-size: 18px;
        color: var(--tertiary-text-color);
    
        &:hover {
            color: var(--primary-text-color);
        }
    }
}

@media (max-width: 1400px) {
    section {
        gap: 50px;
        padding: 40px;
    }

    .profil {
        height: 518px;
        width: 518px;
    }

    .about-me-box {
        width: auto;
    }
}

@media (max-width: 1280px) {
    .profil {
        height: 468px;
        width: 468px;
    }

    p {
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 22px;
    }
}

@media (max-width: 1153px) {
    section {
        gap: 50px;
        padding: 50px;
    }
    .about-me-box {
        width: auto;
    }
}

@media (max-width: 1024px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profil {
        height: auto;
        width: 80%;
    }
}

@media (max-width: 480px) {
    section {
        padding: 20px;
    }

    p {
        font-size: 16px;
    }

    span {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 18px;
    }
}
