section {
  padding: 100px;
  height: 695px;
  background: radial-gradient(circle at right, rgba(28,28,28,1) 100%, rgba(8,70,59,1) 30%);
  max-width: 1440px;

  @media screen and (max-width: 1024px) {
    padding: 50px; // Weniger Padding auf kleineren Screens
    height: auto; // Höhe flexibel anpassen
  }

  @media screen and (max-width: 768px) {
    padding: 30px;
  }
}

.skillContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    flex-direction: column; // Stapelt die Elemente untereinander
    align-items: center; // Zentriert die Elemente in der mobilen Ansicht
    gap: 20px;
  }
}

.skillSetText {
  width: 520px;
  height: 428px;
  border-radius: 30px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Fira Code', monospace;
  background-color: rgba(61, 207, 182, 0.1);
  border: 2px solid #3DCFB6;

  h1 {
    font-size: 64px;
    color: #3DCFB6;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 400px;
    height: auto;
    text-align: center;
  }
}

h2 {
  font-weight: 500;
  font-size: 24px;
  color: #3DCFB6;
}

.container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.skillIconBox {
  width: 632px;
  height: 428px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // Zentriert Icons in mobiler Ansicht

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}

.skill {
  height: 116px;
  width: 104px;
  margin: 0px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.button {
  display: inline-block;
  background-color: rgba(61, 207, 182, 0.1);
  padding: 10px 24px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 32px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #3DCFB6;
    color: #3DCFB6;
  }
}
