* {
  background: #1C1C1C;
}

section {
  padding: 0px 100px;
  height: 695px;
  width: 1440px;
}

.skillContainer{
  display: flex;
  justify-content: space-between;
  
}


.skillSetText {
  width: 520px;
  height: 428px;
  border-radius: 30px;
  padding: 32px;
  display: flex;
  flex-direction: column; // Vertikale Anordnung von Text und Überschrift
  align-items: flex-start; // Text linksbündig ausrichten
  font-family: 'Fira Code', monospace; // Schriftart
  background-color: rgba(61, 207, 182, 0.1);
  border: 2px solid #3DCFB6;


  p {
    font-size: 18px; // Schriftgröße für den Text
    background: none;
    padding: 32px 0px;
  }

  span{
    background: none;
  }

  h1 {
    font-size: 64px; // Schriftgröße für die Überschrift
    font-family: "Fira Code";
    color: #3DCFB6;
    background: none;
  }

  h3{
    background: none;
    font-size: 24px;
    font-family: "Fira Code";
  }
}

h2 {
  font-weight: 500;
  font-size: 24px;
  color: #3DCFB6
}

.container {
  display: flex;
  justify-content:space-between;
}

.skillIconBox {
  width: 632px;
  height: 428px;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  height: 116px;
  width: 104px;
  margin: 0px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: transform 0.2s; /* Übergang hinzufügen */
}

.skill:hover {
  transform: scale(1.05); /* Bild vergrößern bei Hover */
}


button {
  display: inline-block;
  background-color: rgba(61, 207, 182, 0.1);
  padding: 10px 24px;
  border: 2px solid white;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  text-align: center;
  margin-top: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #3DCFB6;
    color: #3DCFB6;
  }
}