<section id="skills">
  <div class="skill-box-container">
    <h2>{{ 'skills.technologies' | translate }}</h2>
    <br />
    <div class="skillContainer">
      <div class="skillSetText">
        <h1>{{ 'skills.skill-set' | translate }}</h1>
        <p>
          {{ 'skills.introduction' | translate }}
        </p>
        <h3>
          <span style="color: #ffffff">{{ 'skills.need' | translate }}</span>
          <span style="color: #3dcfb6">{{ 'skills.another-skill' | translate }}</span>
        </h3>
        <p>
          {{ 'skills.contact-me' | translate }}
        </p>
        <a class="button" href="#contact">{{ 'skills.lets-talk' | translate }}</a>
      </div>
    </div>
  </div>

  <div class="skillIconBox">
    @for (skill of skills; track skill) {
      <div class="skill">
        <img class="image" [src]="skill.logo" [alt]="'skills.logo-alt' | translate: { name: skill.name }" />
        <br />
        <div class="skillName">{{ skill.name }}</div>
      </div>
    }
  </div>
</section>

