section {
    background: #1C1C1C;
    min-height: calc(100dvh - 230px);
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; /* Beibehaltung der Zentrierung für andere potentielle Items */
    max-width: 1440px;
    position: relative;
  }
  
  .legal-notice {
    position: relative;
    z-index: 1;
    margin-top: 128px;
    align-self: flex-start; /* HIER DIE ÄNDERUNG */
  }
  
  h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--secondary-text-color);
  }
  
  h2 {
    font-size: 27px;
    font-weight: 700;
    color: var(--secondary-text-color);
  }
  
  a {
    color: var(--info-color);
  }