section {
  background: #1c1c1c;
  min-height: calc(100dvh - 230px);
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1440px;
  position: relative;

  @media (max-width: 1400px) {
    padding: 50px;
  }

  @media (max-width: 479px) {
    padding: 20px;
  }
}

svg {
  cursor: pointer;
}

.legal-notice {
  position: relative;
  z-index: 1;
  margin-top: 128px;
  align-self: flex-start;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--secondary-text-color);
}

h2 {
  font-size: 27px;
  font-weight: 700;
  color: var(--secondary-text-color);
}

a {
  color: var(--info-color);
}

@media (max-width: 500px) {
  h1 {
      font-size: 32px;
  }

  h2 {
      font-size: 24px;
  }

  a {
      font-size: 14px;
  }
}