<div class="legal-notice">
    <h1>Imprint</h1>
    <img src="./assets/img/references/arrow-left.svg" alt="back-arrow" (click)="backPage()">
    <p>
      Ringstrasse 38<br />
      51371 Leverkusen<br />
      Germany
    </p>
  
    <h2>Contact</h2>
    <p>
      Email: <a href="mailto:denis.welsch&#64;gmx.de">denis.welsch&#64;gmx.de</a>
    </p>
  
    <h2>Responsible for content</h2>
    <p>
      Denis Welsch<br />
      Ringstrasse 38<br />
      51371 Leverkusen<br />
      Germany
    </p>
  
    <p>Source: <a href="https://www.e-recht24.de">e-recht24.de</a></p>
  </div>