section {
  max-width: 1920px;
}

#references {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 100px;
    background: #1C1C1C;
  
    .referencesContainer {
      text-align: center;
      
  
      h2 {
        font-family: 'Fira Code';
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: #3DCFB6;
      }

      .referenceBox {
        max-width: 520px;
        height: 274px;
        border-radius: 30px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Fira Code', monospace;
        background-color: rgba(61, 207, 182, 0.1);
        border: 2px solid #3DCFB6;
        }

        button {
          cursor: pointer;
          background: none;
          border: none;
          font-size: 1.2rem;
          margin: 0 1rem;
        }
  
        .testimonial {
          .testimonialText {
            font-size: 1.2rem;
            margin-bottom: 1rem;
          }
  
          .testimonialName {
            font-weight: bold;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }