<section id="references" class="content">
    <div class="referencesContainer">
        <h2>What my colleagues say about me</h2>
        <div class="referenceBox">
            <div class="testimonial">
                <div class="testimonialText">{{ testimonials[currentIndex].text }}</div>
                <div class="testimonialName">{{ testimonials[currentIndex].name }}</div>
            </div>
        </div>
        <div class="prev-next">
            <button (click)="prevTestimonial()">&laquo; Previous</button>
            <button (click)="nextTestimonial()">Next &raquo;</button>
        </div>
    </div>
</section>

