// Fonts
@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/fira-code-v22-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/karla-v31-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/karla-v31-latin-700.woff2") format("woff2");
}

:root {
  --primary-text-color: white;
  --background-dark: #1c1c1c;
  --background-accent: darkred;
  --accent-color: #3dcfb6;
  --black: #000;
  --font-family-karla: "Karla", sans-serif;
  --font-family-fira-code: "Fira Code", monospace;
  --scroll-padding-top: 128px;
  --container-max-width: 1440px;
  --section-padding-horizontal: 100px;
}

// Global Styles
html {
  box-sizing: border-box;
  min-height: 100dvh;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding-top);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-karla);
  color: var(--primary-text-color);
  background-color: var(--background-accent); // for test original (--background-dark)
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

// Utility Classes
.fontFiraCode {
  font-family: var(--font-family-fira-code);
}

.fontKarla {
  font-family: var(--font-family-karla);
}

// Global Class
.container {
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--section-padding-horizontal);
  padding-right: var(--section-padding-horizontal);
}

// Utility Class for Horizontal Section Padding
.section-padding {
  padding-left: var(--section-padding-horizontal);
  padding-right: var(--section-padding-horizontal);
}