html {
    min-height: 100dvh;
    scroll-behavior: smooth;
    scroll-padding-top: 128px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Karla", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

// Schriften
@font-face {
    font-display: swap;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/fira-code-v22-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/karla-v31-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/karla-v31-latin-700.woff2') format('woff2');
}

// Klassen für Schriftarten
.fontFiraCode {
    font-family: "Fira Code", monospace;
}

.fontKarla {
    font-family: "Karla", sans-serif;
}