.footer {
    display: flex;
    justify-content: center;
    background-color: white;
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    
}

section {
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: black
}

.footer-left h2 {
    margin: 0;
    font-size: 20px;
}

.footer-left p {
    margin: 5px 0;
}

.footer-center p {
    color: #3DCFB6;
    font-size: 14px;
}

.footer-right a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.footer-right a:hover {
    text-decoration: underline;
}

.logo-m {
    color: #3DCFB6;
    font-size: 24px;
}
