<footer>
    <section>
        <div class="footer-left">
            <img src="./assets/img/logo/Logo_denis_welsch.PNG" alt="Logo">
            <p>Web Developer</p>
            <p>Leverkusen Germany</p>
        </div>
        <div class="footer-center">
            <p>© Denis Welsch 2025</p>
        </div>
        <div class="footer-right">
            <a href="#">Github</a>
            <a href="#">LinkedIn</a>
            <a href="#">Email</a>
            <a href="#">Legal Notice</a>
        </div>
    </section>
</footer>
