<footer>
    <div class="footer-container">
        <div class="footer-left">
            <h2><span class="logo-m">DW</span> Denis Welsch</h2>
            <p>Web Developer</p>
            <p><strong>Leverkusen Germany</strong></p>
        </div>
        <div class="footer-center">
            <p>© Denis Welsch 2025</p>
        </div>
        <div class="footer-right">
            <a href="#">Github</a>
            <a href="#">LinkedIn</a>
            <a href="#">Email</a>
            <a href="#">Legal Notice</a>
        </div>
    </div>
</footer>
