<section id="projects">
  <h2>{{ "portfolio.title" | translate }}</h2>
  <h1>{{ "portfolio.headline" | translate }}</h1>
  <p>
    {{ "portfolio.introduction" | translate }} <br />
    {{ "portfolio.interaction-hint" | translate }}
  </p>
  <br />
  <br />
  <div class="portfolio-container">
    <ul class="project-list">
      @for (project of projects; track project.id) {
      <li
        (mouseenter)="hoverProject(project)"
        (mouseleave)="hoverProject(null)"
        (click)="openProject(project)"
      >
        <h3>{{ project.title }}</h3>
        <p class="technologies">{{ project.technologie.join(" | ") }}</p>
      </li>
      }
    </ul>

    @if (hoveredProject) {
    <div class="preview">
      <img
        [src]="hoveredProject.image"
        alt="{{ 'portfolio.preview-alt' | translate }}"
      />
    </div>
    } @if (selectedProject) {
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-left">
        <h1>{{ selectedProject.id }}</h1>
        <h3>{{ selectedProject.title }}</h3>
        <h4>{{ "portfolio.modal.about" | translate }}</h4>
        <br />
        <p>{{ "project-descriptions." + selectedProject.id | translate }}</p>
        <div class="technologies">
          @for (tech of selectedProject.technologies; track tech) {
          <div class="tech-item">
            <img
              [src]="tech.logo"
              class="tech-logo"
              alt="{{ tech.name }} Logo"
            />
            <span>{{ tech.name }}</span>
          </div>
          }
        </div>
        <div class="button-link">
          <button (click)="openLink(selectedProject.github)" class="button">
            {{ "portfolio.modal.github" | translate }}
          </button>
          <button (click)="openLink(selectedProject.live)" class="button">
            {{ "portfolio.modal.live-test" | translate }}
          </button>
        </div>
      </div>
      <div class="modal-right">
        <a class="close" (click)="closeProject()">{{
          "portfolio.modal.close" | translate
        }}</a>
        <img [src]="selectedProject.image" alt="{{ selectedProject.title }}" />
        <a (click)="openNextProject()" class="next-project-link"
          >{{ "portfolio.modal.next-project" | translate }} -></a
        >
      </div>
    </div>
    }
  </div>
</section>
