* {
    background: #1C1C1C;
    color: white;
}

section {
    padding: 20px 100px;
    width: 1440px;
    height: 581px;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    color: #3DCFB6;
}

h1 {
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: 64px;
    color: #3DCFB6;
}

h3 {
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: 24px;
    background: none;
}

p {
    font-size: 18px; // Schriftgröße für das p-Element
    background: none;
}

.portfolio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.project-list {
    list-style: none;
    padding: 0;
    width: 50%;
}

.project-list li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 880px;
    height: 109px;
    padding: 10px;
    border-width: 1px 0 1px 0; // obere und untere Ränder 1px, keine linken und rechten Ränder
    border-style: solid; // durchgezogene Linie
    border-color: #3DCFB6; // Aqua-grüne Farbe
    transition: 0.3s;
}

.project-list li:hover {
    background: #3DCFB64D (30%);
    cursor: pointer;
}

/* Modal */
.modal-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3DCFB6;
    color: white;
    padding: 50px;
    border-radius: 30px;
    max-width: 1440px;
    text-align: left;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.modal-left {
    width: 500px;
}

.modal-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.modal-right img {
    width: 520px;
    border-radius: 30px;
    display: block;     /* Bild als Block-Element */
}

.modal-content h3 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 20px;
}

.modal-content h1 {
    font-size: 128px;
    font-family: 'Karla';
    font-weight: 700;
}

.modal-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.modal-content h4{
    font-size: 24px;
    font-family: 'Fira-Code';
    font-weight: 700;
    color:#3DCFB6;
}

.modal-content button {
    display: inline-block;
    background-color: rgba(61, 207, 182, 0.1);
    padding: 10px 24px;
    margin-right: 25px;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 32px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid #3DCFB6;
    color: #3DCFB6;
    }
}

.close {
    position: absolute;
    top: 56px;
    right: 56px;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}
